{% extends "BlackriverWebsiteBundle:views:master.html.twig" %}
{% block content %}
    <form action="{{ path(request.portalUrl ~ '.l91_sulu_website_user.login_check') }}" method="post">
        {% if error and error.message %}
            <div>
                {{ error.message }}
            </div>
        {% endif %}

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>

        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" checked />
            <label for="remember_me">Keep me logged in</label>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        <div>
            <a href="{{ path(request.portalUrl ~ '.l91_sulu_website_user.password_forget') }}">Password Forget</a>
            <a href="{{ path(request.portalUrl ~ '.l91_sulu_website_user.registration') }}">Registration</a>
        </div>
</form>
{% endblock %}
